metadata-ingestion/tests/integration/nifi/setup/conf/templates/Single_Site_S3_to_S3.xml
<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<template encoding-version="1.3">
    <description></description>
    <groupId>803ebb92-017d-1000-2961-4bdaa27a3ba0</groupId>
    <name>Single_Site_S3_to_S3</name>
    <snippet>
        <processGroups>
            <id>1c61a8d9-3462-387f-0000-000000000000</id>
            <parentGroupId>287be657-22be-3ee1-0000-000000000000</parentGroupId>
            <position>
                <x>0.0</x>
                <y>0.0</y>
            </position>
            <comments></comments>
            <contents>
                <connections>
                    <id>803cf316-1a3f-3305-0000-000000000000</id>
                    <parentGroupId>1c61a8d9-3462-387f-0000-000000000000</parentGroupId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <destination>
                        <groupId>1c61a8d9-3462-387f-0000-000000000000</groupId>
                        <id>c5f6fc66-ffbb-3f60-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <selectedRelationships>matched</selectedRelationships>
                    <source>
                        <groupId>1c61a8d9-3462-387f-0000-000000000000</groupId>
                        <id>e3a7f528-d392-3427-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>87602d82-0227-3105-0000-000000000000</id>
                    <parentGroupId>1c61a8d9-3462-387f-0000-000000000000</parentGroupId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <destination>
                        <groupId>1c61a8d9-3462-387f-0000-000000000000</groupId>
                        <id>e3a7f528-d392-3427-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <selectedRelationships>success</selectedRelationships>
                    <source>
                        <groupId>1c61a8d9-3462-387f-0000-000000000000</groupId>
                        <id>8a218b6e-e6a0-36b6-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>dcf55694-2012-3190-0000-000000000000</id>
                    <parentGroupId>1c61a8d9-3462-387f-0000-000000000000</parentGroupId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <destination>
                        <groupId>1c61a8d9-3462-387f-0000-000000000000</groupId>
                        <id>fed5914b-937b-37dd-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <selectedRelationships>success</selectedRelationships>
                    <source>
                        <groupId>1c61a8d9-3462-387f-0000-000000000000</groupId>
                        <id>c5f6fc66-ffbb-3f60-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <controllerServices>
                    <id>69fc8d86-2f01-3f07-0000-000000000000</id>
                    <parentGroupId>1c61a8d9-3462-387f-0000-000000000000</parentGroupId>
                    <bundle>
                        <artifact>nifi-aws-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.15.0</version>
                    </bundle>
                    <comments></comments>
                    <descriptors>
                        <entry>
                            <key>default-credentials</key>
                            <value>
<name>default-credentials</name>
                            </value>
                        </entry>
                        <entry>
                            <key>Access Key</key>
                            <value>
<name>Access Key</name>
                            </value>
                        </entry>
                        <entry>
                            <key>Secret Key</key>
                            <value>
<name>Secret Key</name>
                            </value>
                        </entry>
                        <entry>
                            <key>Credentials File</key>
                            <value>
<name>Credentials File</name>
                            </value>
                        </entry>
                        <entry>
                            <key>profile-name</key>
                            <value>
<name>profile-name</name>
                            </value>
                        </entry>
                        <entry>
                            <key>anonymous-credentials</key>
                            <value>
<name>anonymous-credentials</name>
                            </value>
                        </entry>
                        <entry>
                            <key>Assume Role ARN</key>
                            <value>
<name>Assume Role ARN</name>
                            </value>
                        </entry>
                        <entry>
                            <key>Assume Role Session Name</key>
                            <value>
<name>Assume Role Session Name</name>
                            </value>
                        </entry>
                        <entry>
                            <key>Session Time</key>
                            <value>
<name>Session Time</name>
                            </value>
                        </entry>
                        <entry>
                            <key>assume-role-external-id</key>
                            <value>
<name>assume-role-external-id</name>
                            </value>
                        </entry>
                        <entry>
                            <key>assume-role-proxy-host</key>
                            <value>
<name>assume-role-proxy-host</name>
                            </value>
                        </entry>
                        <entry>
                            <key>assume-role-proxy-port</key>
                            <value>
<name>assume-role-proxy-port</name>
                            </value>
                        </entry>
                        <entry>
                            <key>assume-role-sts-endpoint</key>
                            <value>
<name>assume-role-sts-endpoint</name>
                            </value>
                        </entry>
                    </descriptors>
                    <name>AWSCredentialsProviderControllerService</name>
                    <persistsState>false</persistsState>
                    <properties>
                        <entry>
                            <key>default-credentials</key>
                            <value>false</value>
                        </entry>
                        <entry>
                            <key>Access Key</key>
                        </entry>
                        <entry>
                            <key>Secret Key</key>
                        </entry>
                        <entry>
                            <key>Credentials File</key>
                            <value>./conf/awscreds.properties</value>
                        </entry>
                        <entry>
                            <key>profile-name</key>
                        </entry>
                        <entry>
                            <key>anonymous-credentials</key>
                            <value>false</value>
                        </entry>
                        <entry>
                            <key>Assume Role ARN</key>
                        </entry>
                        <entry>
                            <key>Assume Role Session Name</key>
                        </entry>
                        <entry>
                            <key>Session Time</key>
                            <value>3600</value>
                        </entry>
                        <entry>
                            <key>assume-role-external-id</key>
                        </entry>
                        <entry>
                            <key>assume-role-proxy-host</key>
                        </entry>
                        <entry>
                            <key>assume-role-proxy-port</key>
                        </entry>
                        <entry>
                            <key>assume-role-sts-endpoint</key>
                        </entry>
                    </properties>
                    <state>ENABLED</state>
                    <type>org.apache.nifi.processors.aws.credentials.provider.service.AWSCredentialsProviderControllerService</type>
                </controllerServices>
                <processors>
                    <id>8a218b6e-e6a0-36b6-0000-000000000000</id>
                    <parentGroupId>1c61a8d9-3462-387f-0000-000000000000</parentGroupId>
                    <position>
                        <x>296.0</x>
                        <y>72.0</y>
                    </position>
                    <bundle>
                        <artifact>nifi-aws-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.15.0</version>
                    </bundle>
                    <config>
                        <bulletinLevel>WARN</bulletinLevel>
                        <comments></comments>
                        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                        <descriptors>
                            <entry>
<key>Bucket</key>
<value>
    <name>Bucket</name>
</value>
                            </entry>
                            <entry>
<key>Region</key>
<value>
    <name>Region</name>
</value>
                            </entry>
                            <entry>
<key>Access Key</key>
<value>
    <name>Access Key</name>
</value>
                            </entry>
                            <entry>
<key>Secret Key</key>
<value>
    <name>Secret Key</name>
</value>
                            </entry>
                            <entry>
<key>record-writer</key>
<value>
    <identifiesControllerService>org.apache.nifi.serialization.RecordSetWriterFactory</identifiesControllerService>
    <name>record-writer</name>
</value>
                            </entry>
                            <entry>
<key>min-age</key>
<value>
    <name>min-age</name>
</value>
                            </entry>
                            <entry>
<key>Listing Batch Size</key>
<value>
    <name>Listing Batch Size</name>
</value>
                            </entry>
                            <entry>
<key>write-s3-object-tags</key>
<value>
    <name>write-s3-object-tags</name>
</value>
                            </entry>
                            <entry>
<key>write-s3-user-metadata</key>
<value>
    <name>write-s3-user-metadata</name>
</value>
                            </entry>
                            <entry>
<key>Credentials File</key>
<value>
    <name>Credentials File</name>
</value>
                            </entry>
                            <entry>
<key>AWS Credentials Provider service</key>
<value>
    <identifiesControllerService>org.apache.nifi.processors.aws.credentials.provider.service.AWSCredentialsProviderService</identifiesControllerService>
    <name>AWS Credentials Provider service</name>
</value>
                            </entry>
                            <entry>
<key>Communications Timeout</key>
<value>
    <name>Communications Timeout</name>
</value>
                            </entry>
                            <entry>
<key>SSL Context Service</key>
<value>
    <identifiesControllerService>org.apache.nifi.ssl.SSLContextService</identifiesControllerService>
    <name>SSL Context Service</name>
</value>
                            </entry>
                            <entry>
<key>Endpoint Override URL</key>
<value>
    <name>Endpoint Override URL</name>
</value>
                            </entry>
                            <entry>
<key>Signer Override</key>
<value>
    <name>Signer Override</name>
</value>
                            </entry>
                            <entry>
<key>proxy-configuration-service</key>
<value>
    <identifiesControllerService>org.apache.nifi.proxy.ProxyConfigurationService</identifiesControllerService>
    <name>proxy-configuration-service</name>
</value>
                            </entry>
                            <entry>
<key>Proxy Host</key>
<value>
    <name>Proxy Host</name>
</value>
                            </entry>
                            <entry>
<key>Proxy Host Port</key>
<value>
    <name>Proxy Host Port</name>
</value>
                            </entry>
                            <entry>
<key>proxy-user-name</key>
<value>
    <name>proxy-user-name</name>
</value>
                            </entry>
                            <entry>
<key>proxy-user-password</key>
<value>
    <name>proxy-user-password</name>
</value>
                            </entry>
                            <entry>
<key>delimiter</key>
<value>
    <name>delimiter</name>
</value>
                            </entry>
                            <entry>
<key>prefix</key>
<value>
    <name>prefix</name>
</value>
                            </entry>
                            <entry>
<key>use-versions</key>
<value>
    <name>use-versions</name>
</value>
                            </entry>
                            <entry>
<key>list-type</key>
<value>
    <name>list-type</name>
</value>
                            </entry>
                            <entry>
<key>requester-pays</key>
<value>
    <name>requester-pays</name>
</value>
                            </entry>
                        </descriptors>
                        <executionNode>PRIMARY</executionNode>
                        <lossTolerant>false</lossTolerant>
                        <penaltyDuration>30 sec</penaltyDuration>
                        <properties>
                            <entry>
<key>Bucket</key>
<value>enriched-topical-chat</value>
                            </entry>
                            <entry>
<key>Region</key>
<value>us-west-2</value>
                            </entry>
                            <entry>
<key>Access Key</key>
                            </entry>
                            <entry>
<key>Secret Key</key>
                            </entry>
                            <entry>
<key>record-writer</key>
                            </entry>
                            <entry>
<key>min-age</key>
<value>0 sec</value>
                            </entry>
                            <entry>
<key>Listing Batch Size</key>
<value>100</value>
                            </entry>
                            <entry>
<key>write-s3-object-tags</key>
<value>false</value>
                            </entry>
                            <entry>
<key>write-s3-user-metadata</key>
<value>false</value>
                            </entry>
                            <entry>
<key>Credentials File</key>
                            </entry>
                            <entry>
<key>AWS Credentials Provider service</key>
                            </entry>
                            <entry>
<key>Communications Timeout</key>
<value>30 secs</value>
                            </entry>
                            <entry>
<key>SSL Context Service</key>
                            </entry>
                            <entry>
<key>Endpoint Override URL</key>
                            </entry>
                            <entry>
<key>Signer Override</key>
<value>Default Signature</value>
                            </entry>
                            <entry>
<key>proxy-configuration-service</key>
                            </entry>
                            <entry>
<key>Proxy Host</key>
                            </entry>
                            <entry>
<key>Proxy Host Port</key>
                            </entry>
                            <entry>
<key>proxy-user-name</key>
                            </entry>
                            <entry>
<key>proxy-user-password</key>
                            </entry>
                            <entry>
<key>delimiter</key>
                            </entry>
                            <entry>
<key>prefix</key>
                            </entry>
                            <entry>
<key>use-versions</key>
<value>false</value>
                            </entry>
                            <entry>
<key>list-type</key>
<value>1</value>
                            </entry>
                            <entry>
<key>requester-pays</key>
<value>false</value>
                            </entry>
                        </properties>
                        <runDurationMillis>0</runDurationMillis>
                        <schedulingPeriod>0 sec</schedulingPeriod>
                        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                        <yieldDuration>1 sec</yieldDuration>
                    </config>
                    <executionNodeRestricted>true</executionNodeRestricted>
                    <name>ListS3</name>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>success</name>
                    </relationships>
                    <state>STOPPED</state>
                    <style/>
                    <type>org.apache.nifi.processors.aws.s3.ListS3</type>
                </processors>
                <processors>
                    <id>c5f6fc66-ffbb-3f60-0000-000000000000</id>
                    <parentGroupId>1c61a8d9-3462-387f-0000-000000000000</parentGroupId>
                    <position>
                        <x>296.0</x>
                        <y>528.0</y>
                    </position>
                    <bundle>
                        <artifact>nifi-aws-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.15.0</version>
                    </bundle>
                    <config>
                        <bulletinLevel>WARN</bulletinLevel>
                        <comments></comments>
                        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                        <descriptors>
                            <entry>
<key>Bucket</key>
<value>
    <name>Bucket</name>
</value>
                            </entry>
                            <entry>
<key>Object Key</key>
<value>
    <name>Object Key</name>
</value>
                            </entry>
                            <entry>
<key>Region</key>
<value>
    <name>Region</name>
</value>
                            </entry>
                            <entry>
<key>Access Key</key>
<value>
    <name>Access Key</name>
</value>
                            </entry>
                            <entry>
<key>Secret Key</key>
<value>
    <name>Secret Key</name>
</value>
                            </entry>
                            <entry>
<key>Credentials File</key>
<value>
    <name>Credentials File</name>
</value>
                            </entry>
                            <entry>
<key>AWS Credentials Provider service</key>
<value>
    <identifiesControllerService>org.apache.nifi.processors.aws.credentials.provider.service.AWSCredentialsProviderService</identifiesControllerService>
    <name>AWS Credentials Provider service</name>
</value>
                            </entry>
                            <entry>
<key>Communications Timeout</key>
<value>
    <name>Communications Timeout</name>
</value>
                            </entry>
                            <entry>
<key>Version</key>
<value>
    <name>Version</name>
</value>
                            </entry>
                            <entry>
<key>SSL Context Service</key>
<value>
    <identifiesControllerService>org.apache.nifi.ssl.SSLContextService</identifiesControllerService>
    <name>SSL Context Service</name>
</value>
                            </entry>
                            <entry>
<key>Endpoint Override URL</key>
<value>
    <name>Endpoint Override URL</name>
</value>
                            </entry>
                            <entry>
<key>Signer Override</key>
<value>
    <name>Signer Override</name>
</value>
                            </entry>
                            <entry>
<key>encryption-service</key>
<value>
    <identifiesControllerService>org.apache.nifi.processors.aws.s3.AmazonS3EncryptionService</identifiesControllerService>
    <name>encryption-service</name>
</value>
                            </entry>
                            <entry>
<key>proxy-configuration-service</key>
<value>
    <identifiesControllerService>org.apache.nifi.proxy.ProxyConfigurationService</identifiesControllerService>
    <name>proxy-configuration-service</name>
</value>
                            </entry>
                            <entry>
<key>Proxy Host</key>
<value>
    <name>Proxy Host</name>
</value>
                            </entry>
                            <entry>
<key>Proxy Host Port</key>
<value>
    <name>Proxy Host Port</name>
</value>
                            </entry>
                            <entry>
<key>proxy-user-name</key>
<value>
    <name>proxy-user-name</name>
</value>
                            </entry>
                            <entry>
<key>proxy-user-password</key>
<value>
    <name>proxy-user-password</name>
</value>
                            </entry>
                            <entry>
<key>requester-pays</key>
<value>
    <name>requester-pays</name>
</value>
                            </entry>
                            <entry>
<key>range-start</key>
<value>
    <name>range-start</name>
</value>
                            </entry>
                            <entry>
<key>range-length</key>
<value>
    <name>range-length</name>
</value>
                            </entry>
                        </descriptors>
                        <executionNode>ALL</executionNode>
                        <lossTolerant>false</lossTolerant>
                        <penaltyDuration>30 sec</penaltyDuration>
                        <properties>
                            <entry>
<key>Bucket</key>
<value>enriched-topical-chat</value>
                            </entry>
                            <entry>
<key>Object Key</key>
<value>${filename}</value>
                            </entry>
                            <entry>
<key>Region</key>
<value>us-west-2</value>
                            </entry>
                            <entry>
<key>Access Key</key>
                            </entry>
                            <entry>
<key>Secret Key</key>
                            </entry>
                            <entry>
<key>Credentials File</key>
                            </entry>
                            <entry>
<key>AWS Credentials Provider service</key>
                            </entry>
                            <entry>
<key>Communications Timeout</key>
<value>30 secs</value>
                            </entry>
                            <entry>
<key>Version</key>
                            </entry>
                            <entry>
<key>SSL Context Service</key>
                            </entry>
                            <entry>
<key>Endpoint Override URL</key>
                            </entry>
                            <entry>
<key>Signer Override</key>
<value>Default Signature</value>
                            </entry>
                            <entry>
<key>encryption-service</key>
                            </entry>
                            <entry>
<key>proxy-configuration-service</key>
                            </entry>
                            <entry>
<key>Proxy Host</key>
                            </entry>
                            <entry>
<key>Proxy Host Port</key>
                            </entry>
                            <entry>
<key>proxy-user-name</key>
                            </entry>
                            <entry>
<key>proxy-user-password</key>
                            </entry>
                            <entry>
<key>requester-pays</key>
<value>false</value>
                            </entry>
                            <entry>
<key>range-start</key>
                            </entry>
                            <entry>
<key>range-length</key>
                            </entry>
                        </properties>
                        <runDurationMillis>0</runDurationMillis>
                        <schedulingPeriod>300 sec</schedulingPeriod>
                        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                        <yieldDuration>1 sec</yieldDuration>
                    </config>
                    <executionNodeRestricted>false</executionNodeRestricted>
                    <name>FetchS3Object</name>
                    <relationships>
                        <autoTerminate>true</autoTerminate>
                        <name>failure</name>
                    </relationships>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>success</name>
                    </relationships>
                    <state>STOPPED</state>
                    <style/>
                    <type>org.apache.nifi.processors.aws.s3.FetchS3Object</type>
                </processors>
                <processors>
                    <id>e3a7f528-d392-3427-0000-000000000000</id>
                    <parentGroupId>1c61a8d9-3462-387f-0000-000000000000</parentGroupId>
                    <position>
                        <x>296.0</x>
                        <y>312.0</y>
                    </position>
                    <bundle>
                        <artifact>nifi-standard-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.15.0</version>
                    </bundle>
                    <config>
                        <bulletinLevel>WARN</bulletinLevel>
                        <comments></comments>
                        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                        <descriptors>
                            <entry>
<key>Routing Strategy</key>
<value>
    <name>Routing Strategy</name>
</value>
                            </entry>
                            <entry>
<key>filter_humourous_only</key>
<value>
    <name>filter_humourous_only</name>
</value>
                            </entry>
                        </descriptors>
                        <executionNode>ALL</executionNode>
                        <lossTolerant>false</lossTolerant>
                        <penaltyDuration>30 sec</penaltyDuration>
                        <properties>
                            <entry>
<key>Routing Strategy</key>
<value>Route to 'match' if all match</value>
                            </entry>
                            <entry>
<key>filter_humourous_only</key>
<value>${filename:startsWith("test")}</value>
                            </entry>
                        </properties>
                        <runDurationMillis>0</runDurationMillis>
                        <schedulingPeriod>0 sec</schedulingPeriod>
                        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                        <yieldDuration>1 sec</yieldDuration>
                    </config>
                    <executionNodeRestricted>false</executionNodeRestricted>
                    <name>RouteOnAttribute</name>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>matched</name>
                    </relationships>
                    <relationships>
                        <autoTerminate>true</autoTerminate>
                        <name>unmatched</name>
                    </relationships>
                    <state>STOPPED</state>
                    <style/>
                    <type>org.apache.nifi.processors.standard.RouteOnAttribute</type>
                </processors>
                <processors>
                    <id>fed5914b-937b-37dd-0000-000000000000</id>
                    <parentGroupId>1c61a8d9-3462-387f-0000-000000000000</parentGroupId>
                    <position>
                        <x>304.0</x>
                        <y>792.0</y>
                    </position>
                    <bundle>
                        <artifact>nifi-aws-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.15.0</version>
                    </bundle>
                    <config>
                        <bulletinLevel>WARN</bulletinLevel>
                        <comments></comments>
                        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                        <descriptors>
                            <entry>
<key>Object Key</key>
<value>
    <name>Object Key</name>
</value>
                            </entry>
                            <entry>
<key>Bucket</key>
<value>
    <name>Bucket</name>
</value>
                            </entry>
                            <entry>
<key>Content Type</key>
<value>
    <name>Content Type</name>
</value>
                            </entry>
                            <entry>
<key>Content Disposition</key>
<value>
    <name>Content Disposition</name>
</value>
                            </entry>
                            <entry>
<key>Cache Control</key>
<value>
    <name>Cache Control</name>
</value>
                            </entry>
                            <entry>
<key>Access Key</key>
<value>
    <name>Access Key</name>
</value>
                            </entry>
                            <entry>
<key>Secret Key</key>
<value>
    <name>Secret Key</name>
</value>
                            </entry>
                            <entry>
<key>Credentials File</key>
<value>
    <name>Credentials File</name>
</value>
                            </entry>
                            <entry>
<key>AWS Credentials Provider service</key>
<value>
    <identifiesControllerService>org.apache.nifi.processors.aws.credentials.provider.service.AWSCredentialsProviderService</identifiesControllerService>
    <name>AWS Credentials Provider service</name>
</value>
                            </entry>
                            <entry>
<key>s3-object-tags-prefix</key>
<value>
    <name>s3-object-tags-prefix</name>
</value>
                            </entry>
                            <entry>
<key>s3-object-remove-tags-prefix</key>
<value>
    <name>s3-object-remove-tags-prefix</name>
</value>
                            </entry>
                            <entry>
<key>Storage Class</key>
<value>
    <name>Storage Class</name>
</value>
                            </entry>
                            <entry>
<key>Region</key>
<value>
    <name>Region</name>
</value>
                            </entry>
                            <entry>
<key>Communications Timeout</key>
<value>
    <name>Communications Timeout</name>
</value>
                            </entry>
                            <entry>
<key>Expiration Time Rule</key>
<value>
    <name>Expiration Time Rule</name>
</value>
                            </entry>
                            <entry>
<key>FullControl User List</key>
<value>
    <name>FullControl User List</name>
</value>
                            </entry>
                            <entry>
<key>Read Permission User List</key>
<value>
    <name>Read Permission User List</name>
</value>
                            </entry>
                            <entry>
<key>Write Permission User List</key>
<value>
    <name>Write Permission User List</name>
</value>
                            </entry>
                            <entry>
<key>Read ACL User List</key>
<value>
    <name>Read ACL User List</name>
</value>
                            </entry>
                            <entry>
<key>Write ACL User List</key>
<value>
    <name>Write ACL User List</name>
</value>
                            </entry>
                            <entry>
<key>Owner</key>
<value>
    <name>Owner</name>
</value>
                            </entry>
                            <entry>
<key>canned-acl</key>
<value>
    <name>canned-acl</name>
</value>
                            </entry>
                            <entry>
<key>SSL Context Service</key>
<value>
    <identifiesControllerService>org.apache.nifi.ssl.SSLContextService</identifiesControllerService>
    <name>SSL Context Service</name>
</value>
                            </entry>
                            <entry>
<key>Endpoint Override URL</key>
<value>
    <name>Endpoint Override URL</name>
</value>
                            </entry>
                            <entry>
<key>Signer Override</key>
<value>
    <name>Signer Override</name>
</value>
                            </entry>
                            <entry>
<key>Multipart Threshold</key>
<value>
    <name>Multipart Threshold</name>
</value>
                            </entry>
                            <entry>
<key>Multipart Part Size</key>
<value>
    <name>Multipart Part Size</name>
</value>
                            </entry>
                            <entry>
<key>Multipart Upload AgeOff Interval</key>
<value>
    <name>Multipart Upload AgeOff Interval</name>
</value>
                            </entry>
                            <entry>
<key>Multipart Upload Max Age Threshold</key>
<value>
    <name>Multipart Upload Max Age Threshold</name>
</value>
                            </entry>
                            <entry>
<key>s3-temporary-directory-multipart</key>
<value>
    <name>s3-temporary-directory-multipart</name>
</value>
                            </entry>
                            <entry>
<key>server-side-encryption</key>
<value>
    <name>server-side-encryption</name>
</value>
                            </entry>
                            <entry>
<key>encryption-service</key>
<value>
    <identifiesControllerService>org.apache.nifi.processors.aws.s3.AmazonS3EncryptionService</identifiesControllerService>
    <name>encryption-service</name>
</value>
                            </entry>
                            <entry>
<key>use-chunked-encoding</key>
<value>
    <name>use-chunked-encoding</name>
</value>
                            </entry>
                            <entry>
<key>use-path-style-access</key>
<value>
    <name>use-path-style-access</name>
</value>
                            </entry>
                            <entry>
<key>proxy-configuration-service</key>
<value>
    <identifiesControllerService>org.apache.nifi.proxy.ProxyConfigurationService</identifiesControllerService>
    <name>proxy-configuration-service</name>
</value>
                            </entry>
                            <entry>
<key>Proxy Host</key>
<value>
    <name>Proxy Host</name>
</value>
                            </entry>
                            <entry>
<key>Proxy Host Port</key>
<value>
    <name>Proxy Host Port</name>
</value>
                            </entry>
                            <entry>
<key>proxy-user-name</key>
<value>
    <name>proxy-user-name</name>
</value>
                            </entry>
                            <entry>
<key>proxy-user-password</key>
<value>
    <name>proxy-user-password</name>
</value>
                            </entry>
                        </descriptors>
                        <executionNode>ALL</executionNode>
                        <lossTolerant>false</lossTolerant>
                        <penaltyDuration>30 sec</penaltyDuration>
                        <properties>
                            <entry>
<key>Object Key</key>
<value>tropical_data/${filename}</value>
                            </entry>
                            <entry>
<key>Bucket</key>
<value>${s3.destbucket}</value>
                            </entry>
                            <entry>
<key>Content Type</key>
                            </entry>
                            <entry>
<key>Content Disposition</key>
                            </entry>
                            <entry>
<key>Cache Control</key>
                            </entry>
                            <entry>
<key>Access Key</key>
                            </entry>
                            <entry>
<key>Secret Key</key>
                            </entry>
                            <entry>
<key>Credentials File</key>
                            </entry>
                            <entry>
<key>AWS Credentials Provider service</key>
<value>69fc8d86-2f01-3f07-0000-000000000000</value>
                            </entry>
                            <entry>
<key>s3-object-tags-prefix</key>
                            </entry>
                            <entry>
<key>s3-object-remove-tags-prefix</key>
<value>false</value>
                            </entry>
                            <entry>
<key>Storage Class</key>
<value>Standard</value>
                            </entry>
                            <entry>
<key>Region</key>
<value>us-east-1</value>
                            </entry>
                            <entry>
<key>Communications Timeout</key>
<value>30 secs</value>
                            </entry>
                            <entry>
<key>Expiration Time Rule</key>
                            </entry>
                            <entry>
<key>FullControl User List</key>
<value>${s3.permissions.full.users}</value>
                            </entry>
                            <entry>
<key>Read Permission User List</key>
<value>${s3.permissions.read.users}</value>
                            </entry>
                            <entry>
<key>Write Permission User List</key>
<value>${s3.permissions.write.users}</value>
                            </entry>
                            <entry>
<key>Read ACL User List</key>
<value>${s3.permissions.readacl.users}</value>
                            </entry>
                            <entry>
<key>Write ACL User List</key>
<value>${s3.permissions.writeacl.users}</value>
                            </entry>
                            <entry>
<key>Owner</key>
<value>${s3.owner}</value>
                            </entry>
                            <entry>
<key>canned-acl</key>
<value>${s3.permissions.cannedacl}</value>
                            </entry>
                            <entry>
<key>SSL Context Service</key>
                            </entry>
                            <entry>
<key>Endpoint Override URL</key>
                            </entry>
                            <entry>
<key>Signer Override</key>
<value>Default Signature</value>
                            </entry>
                            <entry>
<key>Multipart Threshold</key>
<value>5 GB</value>
                            </entry>
                            <entry>
<key>Multipart Part Size</key>
<value>5 GB</value>
                            </entry>
                            <entry>
<key>Multipart Upload AgeOff Interval</key>
<value>60 min</value>
                            </entry>
                            <entry>
<key>Multipart Upload Max Age Threshold</key>
<value>7 days</value>
                            </entry>
                            <entry>
<key>s3-temporary-directory-multipart</key>
<value>${java.io.tmpdir}</value>
                            </entry>
                            <entry>
<key>server-side-encryption</key>
<value>None</value>
                            </entry>
                            <entry>
<key>encryption-service</key>
                            </entry>
                            <entry>
<key>use-chunked-encoding</key>
<value>true</value>
                            </entry>
                            <entry>
<key>use-path-style-access</key>
<value>false</value>
                            </entry>
                            <entry>
<key>proxy-configuration-service</key>
                            </entry>
                            <entry>
<key>Proxy Host</key>
                            </entry>
                            <entry>
<key>Proxy Host Port</key>
                            </entry>
                            <entry>
<key>proxy-user-name</key>
                            </entry>
                            <entry>
<key>proxy-user-password</key>
                            </entry>
                        </properties>
                        <runDurationMillis>0</runDurationMillis>
                        <schedulingPeriod>0 sec</schedulingPeriod>
                        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                        <yieldDuration>1 sec</yieldDuration>
                    </config>
                    <executionNodeRestricted>false</executionNodeRestricted>
                    <name>PutS3Object</name>
                    <relationships>
                        <autoTerminate>true</autoTerminate>
                        <name>failure</name>
                    </relationships>
                    <relationships>
                        <autoTerminate>true</autoTerminate>
                        <name>success</name>
                    </relationships>
                    <state>STOPPED</state>
                    <style/>
                    <type>org.apache.nifi.processors.aws.s3.PutS3Object</type>
                </processors>
            </contents>
            <defaultBackPressureDataSizeThreshold>1 GB</defaultBackPressureDataSizeThreshold>
            <defaultBackPressureObjectThreshold>10000</defaultBackPressureObjectThreshold>
            <defaultFlowFileExpiration>0 sec</defaultFlowFileExpiration>
            <flowfileConcurrency>UNBOUNDED</flowfileConcurrency>
            <flowfileOutboundPolicy>STREAM_WHEN_AVAILABLE</flowfileOutboundPolicy>
            <name>Single_Site_S3_to_S3</name>
            <variables>
                <entry>
                    <key>s3.destbucket</key>
                    <value>foo-nifi</value>
                </entry>
            </variables>
        </processGroups>
    </snippet>
    <timestamp>12/03/2021 12:51:36 UTC</timestamp>
</template>
